## Analyzing a real world data-set with SQL and Python
Estimated time needed: 15 minutes

### Objectives
After completing this lab you will be able to:

1. Understand a dataset of selected socioeconomic indicators in Chicago\
2. Learn how to store data in an SQLite database.\
3. Solve example problems to practice your SQL skills\

## Connect to Database
The syntax for connecting to magic sql using sqllite is\
%sql sqlite://DatabaseName

where DatabaseName will be your .db file

In [6]:
%load_ext sql

In [10]:
import csv, sqlite3

conn = sqlite3.connect("socioeconomic.db") #creating database
cur = conn.cursor()

In [14]:
# coonecting with database
%sql sqlite:///socioeconomic.db

## Store the dataset in a Table

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

We will first read the csv files from the given url into pandas dataframes

Next we will be using the df.to_sql() function to convert each csv file to a table in sqlite with the csv data loaded in it.

In [27]:
import pandas as pd 
import prettytable

prettytable.DEFAULT = 'DEFAULT'

In [19]:
df = pd.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
df.to_sql("chicago_socio_economic_data", conn, if_exists='replace', index=False, method="multi")

78

## You can verify that the table creation was successful by making a basic query like:

In [30]:
%sql SELECT * FROM chicago_socio_economic_data limit 5;

 * sqlite:///socioeconomic.db
Done.

[(1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0),
 (2.0, 'West Ridge', 7.8, 17.2, 8.8, 20.8, 38.5, 23040, 46.0),
 (3.0, 'Uptown', 3.8, 24.0, 8.9, 11.8, 22.2, 35787, 20.0),
 (4.0, 'Lincoln Square', 3.4, 10.9, 8.2, 13.4, 25.5, 37524, 17.0),
 (5.0, 'North Center', 0.3, 7.5, 5.2, 4.5, 26.2, 57123, 6.0)]

In [32]:
# number of rows in the dataset
%sql SELECT count(*) FROM chicago_socio_economic_data;

 * sqlite:///socioeconomic.db
Done.

[(78,)]

In [34]:
# How many community areas in Chicago have a hardship index greater than 50.0? 
%sql SELECT COUNT(hardship_index) FROM chicago_socio_economic_data where hardship_index > 50.0;

 * sqlite:///socioeconomic.db
Done.

[(38,)]

In [41]:
# What is the maximum value of hardship index in this dataset?
%sql select max(hardship_index) from chicago_socio_economic_data;

 * sqlite:///socioeconomic.db
Done.

[(98.0,)]

In [71]:
# Which community area which has the highest hardship index?
%sql select community_area_name,hardship_index from chicago_socio_economic_data order by hardship_index DESC LIMIT 1;

 * sqlite:///socioeconomic.db
Done.

[('Riverdale', 98.0)]

In [69]:
# Which community area which has the highest hardship index?

#or you can use a sub-query to determine the max hardship index:

%sql select community_area_name, hardship_index from chicago_socio_economic_data where hardship_index = (select max(hardship_index) from chicago_socio_economic_data);

 * sqlite:///socioeconomic.db
Done.

[('Riverdale', 98.0)]

In [73]:
# Which Chicago community areas have per-capita incomes greater than $60,000?

%sql select community_area_name from chicago_socio_economic_data where per_capita_income_ > 60000;

 * sqlite:///socioeconomic.db
Done.

[('Lake View',), ('Lincoln Park',), ('Near North Side',), ('Loop',)]

In [81]:
# Create a scatter plot using the variables per_capita_income_ and hardship_index. Explain the correlation between the two variables.

# if the import command gives ModuleNotFoundError: No module named 'seaborn'
# then uncomment the following line i.e. delete the # to install the seaborn package 
# !pip install seaborn

ModuleNotFoundError: No module named 'seaborn.external.six.moves'

In [79]:
!pip install seaborn

Requirement already satisfied: seaborn in c:\users\88017\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\88017\anaconda3\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: numpy>=1.9.3 in c:\users\88017\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=0.15.2 in c:\users\88017\anaconda3\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: scipy>=0.14.0 in c:\users\88017\anaconda3\lib\site-packages (from seaborn) (1.13.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\88017\anaconda3\lib\site-packages (from pandas>=0.15.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\88017\anaconda3\lib\site-packages (from pandas>=0.15.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\88017\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=1.4.3->seaborn) (1.16.0)

In [85]:
!pip install seaborn

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

income_vs_hardship = %sql SELECT per_capita_income_, hardship_index FROM chicago_socioeconomic_data;
plot = sns.jointplot(x='per_capita_income_',y='hardship_index', data=income_vs_hardship.DataFrame())

Requirement already satisfied: seaborn in c:\users\88017\anaconda3\lib\site-packages (0.9.0)
Requirement already satisfied: matplotlib>=1.4.3 in c:\users\88017\anaconda3\lib\site-packages (from seaborn) (3.9.2)
Requirement already satisfied: numpy>=1.9.3 in c:\users\88017\anaconda3\lib\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=0.15.2 in c:\users\88017\anaconda3\lib\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: scipy>=0.14.0 in c:\users\88017\anaconda3\lib\site-packages (from seaborn) (1.13.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\88017\anaconda3\lib\site-packages (from matplotlib>=1.4.3->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\88017\anaconda3\lib\site-packages (from pandas>=0.15.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\88017\anaconda3\lib\site-packages (from pandas>=0.15.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\88017\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=1.4.3->seaborn) (1.16.0)

ModuleNotFoundError: No module named 'seaborn.external.six.moves'