# Importing Dataset 

This is a practice lab of IBM data analysis **course 07: Data analysis with python - Module 01**

### Table of Contents

1. Data Acquisition
2. Basic Insights from the Data set

### Tasks:

1. Load the dataset to a pandas dataframe named 'df'
2. Add headers to the dataframe
3. Replace '?' with 'NaN'
4. Print the data types of the dataframe columns
5. Print the statistical description of the dataset, including that of 'object' data types.
6. Print the summary information of the dataset

In [14]:
import pandas as pd 
import numpy as np

#### Read Data

Reading a csv file from your local machine:)

#### Task 1:

**Read the csv file**

In [36]:
import pandas as pd
import os

# Define the file path
file_path = r"C:\Users\88017\Documents\mysql_dbs\new_jupyter\cvs_files\laptop_pricing_dataset_base.csv"

# Check if the file exists
if os.path.exists(file_path):
    print("File found. Attempting to load...")
    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path, header=None)
        print("CSV file loaded successfully.")
        print(df.head())  # Display the first 5 rows of the DataFrame
    except Exception as e:
        print(f"Error reading the CSV file: {e}")
else:
    print(f"File not found at: {file_path}")

File found. Attempting to load...
CSV file loaded successfully.
     0   1          2   3   4   5       6    7   8    9     10    11
0  Acer   4  IPS Panel   2   1   5   35.56  1.6   8  256   1.6   978
1  Dell   3    Full HD   1   1   3  39.624  2.0   4  256   2.2   634
2  Dell   3    Full HD   1   1   7  39.624  2.7   8  256   2.2   946
3  Dell   4  IPS Panel   2   1   5  33.782  1.6   8  128  1.22  1244
4    HP   4    Full HD   2   1   7  39.624  1.8   8  256  1.91   837

In [37]:
# printing the csv file 
df

        Acer  4  IPS Panel  2  1  5   35.56  1.6  8  256 1.6.1   978
0       Dell  3    Full HD  1  1  3  39.624  2.0  4  256   2.2   634
1       Dell  3    Full HD  1  1  7  39.624  2.7  8  256   2.2   946
2       Dell  4  IPS Panel  2  1  5  33.782  1.6  8  128  1.22  1244
3         HP  4    Full HD  2  1  7  39.624  1.8  8  256  1.91   837
4       Dell  3    Full HD  1  1  5  39.624  1.6  8  256   2.2  1016
..       ... ..        ... .. .. ..     ...  ... ..  ...   ...   ...
232   Lenovo  4  IPS Panel  2  1  7   35.56  2.6  8  256   1.7  1891
233  Toshiba  3    Full HD  2  1  5  33.782  2.4  8  256   1.2  1950
234   Lenovo  4  IPS Panel  2  1  5   30.48  2.6  8  256  1.36  2236
235   Lenovo  3    Full HD  3  1  5  39.624  2.5  6  256   2.4   883
236  Toshiba  3    Full HD  2  1  5   35.56  2.3  8  256  1.95  1499

[237 rows x 12 columns]

In [39]:
df.head()

   Acer  4  IPS Panel  2  1  5   35.56  1.6  8  256 1.6.1   978
0  Dell  3    Full HD  1  1  3  39.624  2.0  4  256   2.2   634
1  Dell  3    Full HD  1  1  7  39.624  2.7  8  256   2.2   946
2  Dell  4  IPS Panel  2  1  5  33.782  1.6  8  128  1.22  1244
3    HP  4    Full HD  2  1  7  39.624  1.8  8  256  1.91   837
4  Dell  3    Full HD  1  1  5  39.624  1.6  8  256   2.2  1016

In [45]:
headers = ["Manufacturer", "Category", "Screen", "GPU", "OS", "CPU_core", "Screen_Size_inch", "CPU_frequency", "RAM_GB", "Storage_GB_SSD", "Weight_kg", "Price"]

df.columns = headers

df.head(10)

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.2,634
1,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.2,946
2,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
3,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
4,Dell,3,Full HD,1,1,5,39.624,1.6,8,256,2.2,1016
5,HP,3,Full HD,3,1,5,39.624,1.6,8,256,2.1,1117
6,Acer,3,IPS Panel,2,1,5,38.1,1.6,4,256,2.2,866
7,Dell,3,Full HD,1,1,5,39.624,2.5,4,256,2.3,812
8,Acer,3,IPS Panel,3,1,7,38.1,1.8,8,256,2.2,1068
9,Dell,3,Full HD,1,1,7,39.624,1.8,8,256,2.13,975

#### Task 3:

**Replace '?' with 'NaN'**

In [54]:
df.replace('?',np.nan, inplace = True)

In [56]:
df

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.2,634
1,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.2,946
2,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
3,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837
4,Dell,3,Full HD,1,1,5,39.624,1.6,8,256,2.2,1016
...,...,...,...,...,...,...,...,...,...,...,...,...
232,Lenovo,4,IPS Panel,2,1,7,35.56,2.6,8,256,1.7,1891
233,Toshiba,3,Full HD,2,1,5,33.782,2.4,8,256,1.2,1950
234,Lenovo,4,IPS Panel,2,1,5,30.48,2.6,8,256,1.36,2236
235,Lenovo,3,Full HD,3,1,5,39.624,2.5,6,256,2.4,883
236,Toshiba,3,Full HD,2,1,5,35.56,2.3,8,256,1.95,1499

In [58]:
df.describe()

,Category,GPU,OS,CPU_core,CPU_frequency,RAM_GB,Storage_GB_SSD,Price
count,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000
mean,3.202532,2.151899,1.059072,5.632911,2.363291,7.881857,245.738397,1464.388186
std,0.776450,0.639556,0.236258,1.243736,0.409271,2.487845,34.832516,574.956374
min,1.000000,1.000000,1.000000,3.000000,1.200000,4.000000,128.000000,527.000000
25%,3.000000,2.000000,1.000000,5.000000,2.000000,8.000000,256.000000,1068.000000
50%,3.000000,2.000000,1.000000,5.000000,2.500000,8.000000,256.000000,1333.000000
75%,4.000000,3.000000,1.000000,7.000000,2.700000,8.000000,256.000000,1777.000000
max,5.000000,3.000000,2.000000,7.000000,2.900000,16.000000,256.000000,3810.000000

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Manufacturer      237 non-null    object
 1   Category          237 non-null    int64
 2   Screen            237 non-null    object
 3   GPU               237 non-null    int64
 4   OS                237 non-null    int64
 5   CPU_core          237 non-null    int64
 6   Screen_Size_inch  233 non-null    object
 7   CPU_frequency     237 non-null    float64
 8   RAM_GB            237 non-null    int64
 9   Storage_GB_SSD    237 non-null    int64
 10  Weight_kg         232 non-null    object
 11  Price             237 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 22.3+ KB

#### Task - 4: 

**Print the data types of the dataframe columns**

In [79]:
print(df.dtypes)

Manufacturer         object
Category              int64
Screen               object
GPU                   int64
OS                    int64
CPU_core              int64
Screen_Size_inch     object
CPU_frequency       float64
RAM_GB                int64
Storage_GB_SSD        int64
Weight_kg            object
Price                 int64
dtype: object

#### T #5: Print the statistical description of the dataset, including that of 'object' data types.

In [64]:
df.describe(include='all')

,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
count,237,237.000000,237,237.000000,237.000000,237.000000,233,237.000000,237.000000,237.000000,232,237.000000
unique,11,NaN,2,NaN,NaN,NaN,9,NaN,NaN,NaN,77,NaN
top,Dell,NaN,Full HD,NaN,NaN,NaN,39.624,NaN,NaN,NaN,2.2,NaN
freq,71,NaN,161,NaN,NaN,NaN,89,NaN,NaN,NaN,21,NaN
mean,NaN,3.202532,NaN,2.151899,1.059072,5.632911,NaN,2.363291,7.881857,245.738397,NaN,1464.388186
std,NaN,0.776450,NaN,0.639556,0.236258,1.243736,NaN,0.409271,2.487845,34.832516,NaN,574.956374
min,NaN,1.000000,NaN,1.000000,1.000000,3.000000,NaN,1.200000,4.000000,128.000000,NaN,527.000000
25%,NaN,3.000000,NaN,2.000000,1.000000,5.000000,NaN,2.000000,8.000000,256.000000,NaN,1068.000000
50%,NaN,3.000000,NaN,2.000000,1.000000,5.000000,NaN,2.500000,8.000000,256.000000,NaN,1333.000000
75%,NaN,4.000000,NaN,3.000000,1.000000,7.000000,NaN,2.700000,8.000000,256.000000,NaN,1777.000000
max,NaN,5.000000,NaN,3.000000,2.000000,7.000000,NaN,2.900000,16.000000,256.000000,NaN,3810.000000

#### Task #6: 

**Print the summary information of the dataset**

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Manufacturer      237 non-null    object
 1   Category          237 non-null    int64
 2   Screen            237 non-null    object
 3   GPU               237 non-null    int64
 4   OS                237 non-null    int64
 5   CPU_core          237 non-null    int64
 6   Screen_Size_inch  233 non-null    object
 7   CPU_frequency     237 non-null    float64
 8   RAM_GB            237 non-null    int64
 9   Storage_GB_SSD    237 non-null    int64
 10  Weight_kg         232 non-null    object
 11  Price             237 non-null    int64
dtypes: float64(1), int64(7), object(4)
memory usage: 22.3+ KB