# Pearson Correlationship |r|

In [2]:
import pandas as pd

In [8]:
data = {
    "x" : [1,2,3,4,5],
    "y" : [2,3,4,5,6]
}

df = pd.DataFrame(data)
df

   x  y
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6

In [12]:
pearson_corr = df['x'].corr(df['y'])
pearson_corr

0.9999999999999999

In [16]:
# correct way to find out correlation
df.corr()

     x    y
x  1.0  1.0
y  1.0  1.0